:host-context(.theme-holiday) p {
  color: hotpink;
}

:host {
  display: block;
}

:host(.selected) {
  border: 1px solid black;
}

.playlist-color {
  border-left: 10px solid black;
}

// .playlist-color:hover {
//   border-left: 10px solid black;
// }

// :host ::ng-deep p {
//   color: hotpink;
// }
