<!-- .list-group>.list-group-item*3>app-playlist-item -->

<!--     border-left: 10px solid #ff00ff; -->
<!-- 'border-left': '10px solid' + playlist.color -->

<!-- [ngStyle]="{
  'border-left-color': hover == playlist.id ? playlist.color : ''
}"
(mouseenter)="hover = playlist.id"
(mouseleave)="hover = playlist.id" -->

<div class="list-group">
  <app-playlist-item
  
    [appHighlight]="playlist.color"
    
    (click)="select(playlist)"
    [class.active]="playlist.id === selected?.id"
    *ngFor="let playlist of playlists; index as i; trackBy: trackFn"
  >
    {{ i + 1 }}. {{ playlist.name }}
  </app-playlist-item>
</div>

<!-- <div class="list-group">
  <div
    class="list-group-item"
    *ngFor="let playlist of playlists; template: itemTplREf"
  ></div>
</div>

<ng-template #itemTplREf let-playlist let-i="index">
  <div class="list-group-item">{{ i + 1 }}. {{ playlist.name }}</div>
</ng-template> -->

<!-- <div class="list-group">
  <ng-template
  ngFor
  [ngForOf]="playlists"
  let-playlist
  let-i="index"
  >
  <div class="list-group-item">{{ i + 1 }}. {{ playlist.name }}</div>
</ng-template>
</div>
 -->
