<!-- <pre>{{ playlist | json }}</pre> -->
<form #formRef="ngForm" (ngSubmit)="save(formRef)">
  <div class="form-group">
    <!-- 
  // NgModel selector:'[ngModel]'
  // ValueAccessor selector:'input[ngModel][type="text"]'
  // ChebboxValueAccessor selector:'input[ngModel][type="chebox"]'
-->
    <label for="">Name:</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="playlist.name"
      name="name"
      #nameRef="ngModel"
    />
    {{ nameRef.viewModel.length }} / 170
  </div>

  <div class="form-group">
    <label for="">Favorite:</label>
    <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
  </div>

  <div class="form-group">
    <label for="">Color:</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>

  <button type="button" (click)="cancel.emit()">Cancel</button>
  <button type="submit">Save</button>

  <!-- <p [innerText]="playlist.name"></p>
<p>{{playlist.name}}</p> -->
</form>
