<ng-container *ngIf="selected | async as playlist; else loading">
  <app-playlist-details
    [playlist]="playlist"
  ></app-playlist-details>
  
  <button routerLink="edit">Edit</button>

</ng-container>

<ng-template #loading>
  Loading...
</ng-template>