<div class="card-group">
  <!-- <div app-album-card class="card" *ngFor="let item of [1,2,3,4]"></div> -->

  <app-album-card
    class="card"
    [album]="result"
    *ngFor="let result of results"
  ></app-album-card>

</div>
