:host {
  display: block;
}

form .ng-invalid.ng-touched,
form .ng-invalid.ng-dirty, 
form.ng-submitted .ng-invalid {
  border: 1px solid red;
}

form .ng-valid.ng-touched,
form .ng-valid.ng-dirty, 
form.ng-submitted .ng-valid  {
  border: 1px solid green;
}
