<form
  class="mb-3"
  #form="ngForm"
  [formGroup]="queryForm"
  (ngSubmit)="form.valid && sendQuery()"
  [class.ng-submitted]="form.submitted"
>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      formControlName="query"
    />

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">
        Search
      </button>
    </div>
  </div>

  <!-- <div *ngIf="queryForm.hasError('passwordsDontMatch')"></div> -->

  <app-error-messages [field]="queryForm.get('query')">
    <div *ngIf="queryForm.get('query')?.getError('censor') as error">
      Cannot contain words "{{ error.badword }}"
    </div>
  </app-error-messages>
</form>
