:host {
  display: block;
}
/* 
.ng-invalid.ng-touched,
.ng-invalid.ng-dirty {
  border: 1px solid red;
}

:host-context(.ng-submitted) .ng-invalid {
  border: 1px solid red;
}

.ng-valid.ng-touched,
.ng-valid.ng-dirty {
  border: 1px solid green;
}

:host-context(.ng-submitted).ng-valid {
  border: 1px solid green;
}
 */