<ng-container *ngIf="field">
  <ng-container *ngIf="field.touched || field.dirty || form.submitted">
    
    <div *ngIf="field.hasError('required')">Required</div>

    <div *ngIf="field.getError('minlength') as error">
      Minimum length is
      {{ error.requiredLength }}
    </div>
    
    <ng-content></ng-content>

  </ng-container>
</ng-container>
