<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a
      class="navbar-brand"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Music App</a
    >

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active placki"
            routerLink="/search"
            #searchRef="routerLinkActive"
            >Search</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/playlists">Playlists</a>
        </li>
      </ul>

      <form
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="search(queryRef.value)"
        *ngIf="!searchRef.isActive"
      >
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          #queryRef
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
