<div class="row">
  <div class="col">
    <app-search-form [query]="queryChanges | async" (search)="search($event)">
    </app-search-form>

    <ng-container *ngIf="albumChanges | async as results">
      <p>Found {{ results.items.length || 0 }} results</p>
    </ng-container>
  </div>
</div>

<div class="row">
  <div class="col">
    <div
      class="alert alert-danger"
      *ngIf="notificationChanges | async as message"
    >
      {{ message }}
    </div>

    <ng-container *ngIf="albumChanges | async as results">
      <app-search-results [results]="results.items"></app-search-results>
    </ng-container>
  </div>
</div>
