<!-- dl>(dt+dd)*3 -->

<dl [title]="playlist.name" [attr.data-id]="playlist.id">
  <dt>Name:</dt>
  <dd>{{ playlist.name | titlecase }}</dd>

  <dt>Favorite:</dt>
  <dd [class.favorite]="playlist.favorite">
    {{ playlist.favorite | yesno: "Yeah!":"Nope.." | uppercase }}
  </dd>

  <dt>Color:</dt>
  <dd
    [ngStyle]="{
      color: playlist.color,
      'background-color': playlist.color
    }"
  >
    {{ playlist.color }}
  </dd>
</dl>
