

<div class="row">

  <div class="col">
    <app-albums-search></app-albums-search>
  </div>

  <div class="col">
    <button (click)="hide = !hide">Toggle</button>
    <app-albums-search *ngIf="hide"></app-albums-search>
  </div>  

</div>