<!-- .row>.col*2 -->
<div class="row">
  <div class="col">
    <app-playlist-list
      [playlists]="playlists | async"
      [selected]="selected | async"
      (selectedChange)="selectPlaylistById($event?.id)"
    ></app-playlist-list>

    <p>
      <a routerLink="/playlists/create">Create</a>
    </p>
  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>